<form [formGroup]="loginForm" class="form" (submit)="onSubmit()">
  <h1>Sign In</h1>
  <mat-form-field class="input-placeholder">
    <input formControlName="email" placeholder="Enter Email" matInput type="email">
    <mat-error>Email is required and it should be a valid email</mat-error>
  </mat-form-field>
  <mat-form-field class="input-placeholder">
    <input formControlName="password" placeholder="Enter Password" matInput type="password">
    <mat-error>Password is required and should be of minimum 6 charcters</mat-error>
  </mat-form-field>
  <p *ngIf="showLoginError" class="error">Either email or password incorrect</p>
  <mat-spinner [diameter]="30" [strokeWidth]="4" class="submit-button" *ngIf="showSpinner"></mat-spinner>
  <button mat-raised-button *ngIf="!showSpinner" color="primary" class="submit-button" [disabled]="loginForm.invalid" type="submit">Login</button>
</form>
