<div class="wrapper">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Manager Dashboard</h1>
      </div>
  <mat-card>
    <div class="body-container">
      <p class="body-header">Employees List</p>
      <button routerLink="add-employee" mat-raised-button color="primary">Add new Employee</button>
    </div>
    <div class="filter-wrapper">
      <mat-card class="inner-flexdisp">
        <div class="filter-wrapper">
          <mat-form-field class="filter-component" style="width: 20%;">
            <input type="text"
                   placeholder="Search by name"
                   aria-label="Number"
                   matInput
                   [formControl]="autoComplete" autocomplete="off" >
          </mat-form-field>
          <ng5-slider style="width: 20%;" class="filter-component" (valueChange)="filter()" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
          <mat-form-field style="width:20%" class="filter-component">
            <input type="text"
                   placeholder="Search by designation"
                   aria-label="Number"
                   matInput
                   [formControl]="autoComplete2" autocomplete="off">
          </mat-form-field>
            <mat-form-field  style="width:20%;position: absolute;margin-left: 0px;">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let skill of skills" (removed)="remove(skill)">
                  {{skill}} <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       (matChipInputTokenEnd)="add($event)"
                       placeholder="Skills">
              </mat-chip-list>
              <mat-error>At least one skill is required</mat-error>
            </mat-form-field>
            <br>
          <button style="margin-left: 46%;margin-top: 20px;" mat-raised-button color="accent" (click)="applyFilter()">Filter<mat-icon style="line-height: 21px;margin-left: 10px;">filter_alt</mat-icon></button>
      
         
        </div>
        
      </mat-card></div>
    <table class="employee-wrapper">
      <tr>
        <th>S.no</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Date of Joining</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let employee of employeesList; let i = index ">
        <td>{{i + 1}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.designation}}</td>
        <td>{{employee.DOJ |  date:'MM/dd/yyyy'}}</td>
        <td class="button-wrapper">
          <button mat-raised-button (click)="viewButtonClicked(employee._id)">View</button>
          <button  mat-raised-button (click)="editButtonClicked(employee._id)" color="primary">Edit</button>
          <button mat-raised-button (click)="deleteButtonClicked(employee._id)" color="warn">Delete</button>
        </td>
      </tr>
    </table>
  </mat-card>
</div>
