.wrapper {
  padding: 20px;
}
.body-container {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}
.body-container p {
  margin: 10px 0px;
}
.employee-wrapper {
  width: 100%;
  margin-top: 30px;
}
.employee-wrapper th {
  text-align: left;
}
.button-wrapper {
  width: 250px;
}
.button-wrapper button {
  margin-right: 10px;
}
.body-header {
  font-weight: 500;
  font-size: 20px;
}
.filter-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.filter-component {
  width: 100%;
  max-width: 400px;
}
